
.loginStyle{
    background-image: url("../../image/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    width: 500px;
    margin-left: 30%;
    padding-top: 15%;
}

.box-body {
    padding-left: 17%;
}
.box-footer {
    padding-bottom: 5%;
}
.with-border {
    padding-bottom: 6%;
}